<div class="row" id="nav">
  <div class="large-4 columns">My Writing App</div>
  <div class="large-8 columns">
    <div class="large-6 columns">
      <input type="text" value="Login">
    </div>
    <div class="large-6 columns">
      <input type="text" value="Password">
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="large-6 columns">
    <ul data-orbit>
      <li>
        <img src="http://placehold.it/1400x300&text=Slide1">
      </li>
      <li>
        <img src="http://placehold.it/1400x300&text=Slide2">
      </li>
      <li>
        <img src="http://placehold.it/1400x300&text=Slide3">
      </li>
    </ul>
  </div>
  <div class="large-6 columns">
    <div class="alert-box" data-alert>
      Account successfully created!
      <a href="#" class="close">x</a>
    </div>
    <h2 class="subheader">Create a New Account</h2>
    <p> It's easy and free.</p>
    <form>
       <input type="text" value="Username">
       <input type="text" value="Password">
    </form>
  </div>
</div>
<div class="row" id="footer">


</div>
