<div class="row">
  <div class="large-12 columns">
    <ul data-orbit data-options="animation:fade">
      <li>
        <img src="http://placehold.it/1400x300&text=Slide1">
      </li>
      <li>
        <img src="http://placehold.it/1400x300&text=Slide2">
      </li>
      <li>
        <img src="http://placehold.it/1400x300&text=Slide3">
      </li>
    </ul>
  </div>
</div>

<div class="row">

  <div class="small-12 columns">
    <div class="alert-box" data-alert>
      I am an alert.
      <a href="#" class="close">x</a>
    </div>
   </div>

</div>

<div class="row">
  <div class="large-3 columns">
   <p>Reviews
   Text-Sample?</p>
  </div>
  <div class = "large-6 large-offset-3 columns">
     <div class = "form-wrapper text-center border" >
        <h3 id="center"> Create An Account </h3>
        <form>
           <label>PlaceHolder</label>
           <input type="text">
           <label>PlaceHolder</label>
           <input type="text">
           <label>PlaceHolder</label>
           <input type="text">
           <input type="submit" class="large button" value="foo">
         </form>
     </div>
  </div>
</div>
