<%= render 'devise/menu/no_profile_settings_login_items' %>
<div class="exercise-title"><div id="highlight" style="margin: auto; text-align: left; width: 292px; line-height:28px; width: 638px;"><%= @challenge.exercise %></div></div>
<div id="countDown"></div>
<div id="response_response_count" style="display:none; text-align: center; color: #CEC7C5; margin-left: 210px"></div>
<%= render 'edit_form' %>